//media
$grid-desktop-breakpoint: 1400px;
$grid-tablet-breakpoint: 1020px;
$grid-mobile-breakpoint: 650px;
$desktop-gutter: 40px;
$tablet-gutter: 30px;
$mobile-gutter: 20px;


// preset colors
$maindark: #353535;
$mainbright: #FaFaFa;
$maingrey: #e3e3e3;
$secondcolor: #ca7676;

//preset text
@mixin font-default {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden; 
    color: $maindark;
}

h1{
    font-size: 30px;
}
 
// general reset 
*{
    margin: 0;
    padding: 0;
}

body{
    @include font-default();
    height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        color: $secondcolor;
        text-shadow: 1px 1px 1px $mainbright;
    }
}

mark{
    background: none;
    color: $secondcolor;;
}

img{ 
    max-width: 100%;
}

main{
    padding: 6.25em 15%;
    background-color: $maingrey;
}

.mainsec{
    margin-bottom: 6.25em;
}

.backtomain{
    background-image: url(../../img/logo.png);
    background-size: cover;
    height: 6.25em;
    width: 6.25em;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.hidden{
    display: none;

}






//portfolio page specific

#portfolio_header{
    height: 29.5em;
    width: auto;
    background-color: $mainbright;
}

@mixin menuBlock {
    width: 11em;
    height: 11em;
    margin: 1em 1em 1em 0;
    display: flex;
    background-size: contain;
}

#logo_wrap{
    @include menuBlock;
    .a{fill:$maindark;}
    padding: 2em;
}

#menu{
    height: 12.5em;
    width: 100%;
    bottom: 0;
    background-color: $mainbright;
    padding: 0 1em 0 0;
    position: fixed;
    box-shadow: 0px 20px 20px 30px rgba(0,0,0,0.1);

    @media screen and (max-width: $grid-mobile-breakpoint){
        height: 9em;
    }  
    .menusec{
        @include menuBlock;
        float: right;
        transition: 0.1s;

        @media screen and (max-width: $grid-mobile-breakpoint){
            width: 7em;
            height: 7em;
            align-items: center;
        }        
    }
}

#menu-abtme{
    background-image: url(../../img/menu_about.png);

    &:hover{
        background-image: url(../../img/menu_about1.png);
    }

    &:active{
        background-image: url(../../img/menu_about2.png);
    }
}

#menu-prtf{
    background-image: url(../../img/menu_portf.png);

    &:hover{
        background-image: url(../../img/menu_portf1.png);
    }

    &:active{
        background-image: url(../../img/menu_portf2.png);
    }
}

#menu-rand{
    background-image: url(../../img/menu_rand.png);

    &:hover{
        background-image: url(../../img/menu_rand1.png);
    }

    &:active{
        background-image: url(../../img/menu_rand2.png);
    }
}







// portfolio in portfolio
.prtfsec{
    height: 15em;
    margin-bottom: 1em;
    border: solid $maindark 2px;
    background-size: cover;
    padding: 2vw;
}

#arda{
    background-image: url(../../img/arda_header.jpg);
}

#surspoken{
    background-image: url(../../img/surspoken.jpg);
    color: $secondcolor;
    //speech bubble cursor follow
}

#plshld{
    background-image: url(../../img/plshld_ttl.png);
}

#udhils{
    background-image: url(../../img/udhils_ttl.jpg);
    color: $maingrey;
}



//about me
#abtme{
    height: 31em;
}

#abtmel{
    float: left;
    width: 26em;
    height: auto;
}

#resume{
    height: 22em;
    padding: 1em;
    overflow: auto;
    border-radius: 3px;

    &:hover{
        // -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        // -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 5px 5px 20px rgba(0,0,0,0.1),
                    5px 5px 10px rgba(255,255,255,0.3);
        transition: box-shadow 0.2s ease-in-out;
    }
}

#abtmer{ 
    width: 26em;
    height: auto;
    float: right;
}

#contactinfo{
    @media screen and (max-width: $grid-mobile-breakpoint){
        position: static; //how to overlap 
    }
}




//random art
// .randsec{
//     height: 200px;
// }

.grid_container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    // @media screen and (max-width: $grid-mobile-breakpoint){
    //     grid-template-columns: repeat(2, 1fr);
    // }
}

.randimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.randwave1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1; 
    grid-row-end: 3;
}

.randcold{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2; 
    grid-row-end: 3;
}

.randwind{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3; 
    grid-row-end: 5;
}





//arda

.ardaicon{
    height: 100px;
    width: 100px;
}