::selection {
    background: #bcd8f7;
    text-shadow: none;
}

body{
    min-height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    background-color: #FaFaFa;
    /* font-family: 'Roboto Slab'; */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.5em;
}

.menusec, #blksdes, #roomtrig, #rddes, #gt2d1, #gt2d2, #blkcnt{
    background-repeat: no-repeat;
}

#roomtrig, #rddes, #gt2d1, #gt2d2{
    background-size: contain;
}

/***** header *****/
#header{
    position: relative;
}

#headerdesfull{
    position: absolute;
    /* font-family: 'Roboto Slab'; */
    font-weight: 500;
    color: #fff;
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
    line-height: 0px;
}

#zynen, #lavades{
    font-size: 40px;
}

#zyncn{
    font-size: 60px;
}

#becomes{
    font-size: 30px;
}

#headerlogo{
    width: 32%;
    height:auto;
}

#headerfig{
    height:55%;
    width: 27%;
    background: url("img/header1.png") no-repeat;
    background-size:contain;
    position: absolute;
    bottom: 0px;
    right: 10%;
}

#headerfig:hover{
    background: url("img/header2.png") no-repeat;
    background-size:contain;
}

#headerbg{
    width: 100%;
    height: auto;
}


/***** menu *****/
#menu{
    padding: 50px;
    width: 100%;
    background-color: #FaFaFa;
    position: fixed;
    transition: top 1s;
}

#menu-logo{
    height: 200px;
    margin-right: 300px;
}

.menusec{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-right:10px;
}

#menu-prtf{
    background-image: url(img/menu_portf.png);
    background-size: contain;
}

#menu-prtf:hover{
    background-image: url(img/menu_portf1.png);
    background-size: contain;
}

#menu-prtf:active{
    background-image: url(img/menu_portf2.png);
    background-size: contain;
}

#menu-abtme{
    background-image: url(img/menu_about.png);
    background-size: contain;
}

#menu-abtme:hover{
    background-image: url(img/menu_about1.png);
    background-size: contain;
}

#menu-abtme:active{
    background-image: url(img/menu_about2.png);
    background-size: contain;
}

#menu-rand{
    background-image: url(img/menu_rand.png);
    background-size: contain;
}

#menu-rand:hover{
    background-image: url(img/menu_rand1.png);
    background-size: contain;
}

#menu-rand:active{
    background-image: url(img/menu_rand2.png);
    background-size: contain;
}


/***** portfolio *****/
.prtfsec{
    padding: 8%;
}

/* #blankies :hover{
    background-color: #DE4B4B;
} */

/* #five{
    background-color: #323232;
    color: #fff;
} */

/* #genethera{
    background-color: #92a6e3;
} */


/***** about me *****/
#aboutme{
    padding: 8%;
}


/***** random art *****/
#randart{
    margin-top: 10%;
    margin-bottom: 20%;
}

.randcata{
    height: 200px;
    width: auto;
}

.randsec{
    height: auto;
    width: 40%;
    margin: 30px;
}



/******************* project rooms ****************/
.roombody{
    text-align: left;
    font-family: 'Domine', serif;
    color: #353535;
}

#roomtrig{
    background-image: url(img/roomwhite.jpg);
}

#roomttl{
    width: 800px;
    margin-top: 370px;
    margin-left: -350px;
    font-size: 110px;
    transform: rotate(90deg);
    position: fixed;
}

#roomttldes1,
#roomttldes2,
#roomwhitettl,
#roomwhitev,
#roomchrct{
    font-size: 16px;
    line-height: 30px;
    margin-left: 200px;
    padding: 5%;
    padding-left: 0px;
}

#roomdesign,
#roomwhite{
    color: #FaFaFa;
    background-color: #666666;
}

.roomotrimg{
    height: 400px;
}

#roomtrig, #rddes{
    padding-left: 200px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 45%;
    position: relative;
    background-attachment: fixed;
    background-position: bottom;
}

#rddes{
    background-image: url(img/roomtime.png);
}

#roomwhitev{
    margin-top: -18%;
}

#backtomain a{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0px;
    right: 10px;
    background-image: url(img/menu_logo.png);
    background-size: contain;
}

/******************* blankies ****************/
.blkbody{
    text-align: left;
    /* font-family: 'Roboto Slab'; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #fff;
}

#blksdes{
    margin: 12%;
    background-image: url(img/blk_illu1.jpg);
    background-size: 60%;
    background-position: top right;
}

#blksdes p{
    width: 50%;
    height: auto;
}

#blkdes2{
    margin: 12%;
    width: 80%;
    height: 1200px;
}

#blkdeschew{
    width: 50%;
    height: auto;
    float: left;
}

#blkdes2 p{
    width: 45%;
    padding-top: 30%;
    float: right;
}

#blkillu2{
    width: 50%;
    margin: 5%;
    right: 0px;
    height: auto;
    float: right;
}

#blkpmap{
    margin: 12%;
}

#blkcnt{
    margin: 12%;
}

.blkbody button{
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    border: none;
}

.blkcntsec{
    width: 70%;
}

/******************* gene therapy/to rise a dough ****************/
.gtbody{
    background-color: #fff;
}

#gtttl{
    height: 400px;
    text-align: right;
}

#gt2d1{
    height: 900px;
    background-color: #92a6e3;
    background-image: url(img/gtpo1.jpg);
    background-position: right;
}

#gt2d2{
    height: 900px;
    background-color: #e1d58d;
    background-image: url(img/gtpo2.jpg);
}

#trdttl{
    line-height: 100px;
    font-size: 100px;
}

#trdlolita{
    margin: 5%;
    height: 700px;
    width: auto;
    float: right;
}


/******************* five by five canvas grid ****************/
#videosList {
    max-width: 1440px; 
    overflow: hidden;
}
   
.video {
    background-image: url('img/fivecanvbig.jpg');
    height: 900px;
    width: 1440px;
    margin-bottom: 50px;
}