:root {
    --main-green: #89CE00;
    --main-yellow: #fcd632;
    --main-pink: #e7a6a6;
  }

body {
	margin: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Fira Mono';
    font-size: 1.15vw;
    letter-spacing: -0.025rem;
    word-wrap: break-word;
}

main{
    display: block;
    position: absolute;
    width: 30vw;
    padding:2rem;
    background-color: var(--main-green);
}

aside{
    display: flex;
    position: fixed;
    width: 65vw;
    top:0; 
    right: 0; 
}

main, aside{
    min-height: 100vh;
}

a{
    text-decoration:underline;
    color: inherit;
}

h1, a:hover{
    color: #fff; 
    background-color: #000;
}

h1{
    font-size: 2rem;
    font-weight: 600;
}

h2, h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
}

p, ol{
    font-family: 'Fira Sans';
    font-size: 1rem;
}

textarea {
    outline: none;
    word-wrap:inherit;
}

footer{
    font-size: 1rem;
    position: fixed;
    height:auto;
    margin-top: auto;
    bottom: 2rem;
    margin-left: 35vw;
}

footer a:hover{
    color: var(--main-green); 
    background-color: #000;
}

#movediv{
    position: absolute;
    z-index: 9; 
    top: 20px; 
    left: 20px;
}

#movedivheadr{
    cursor: move;
    padding: 10px;
    z-index: 10;
    background-color: #000;
    color: var(--main-green);
}

.back-menu{
    position: fixed; 
    right: 2rem; 
    bottom: 2rem; 
    z-index: 99;
    fill: #353535;
}

/* pad */
@media only screen and (max-width: 800px) {
    aside{
        display: block;
        position: static;
        margin-top: 0;
        min-height: 70vh;
        width: 100vw;
        background-color: #fff;
    }
    footer{
        position: absolute;
        width: auto;
        padding: 2rem;
        margin-left: 0;
        bottom: 30vh;
        font-size: 0.75rem;
    }
    .movediv{
        display: none !important;
    }
    main{
        position: relative;
        width: fit-content;
        /* top: 70vh; */
    }
    .inline_img{
        width: 80vw;
    }
  }


#cwcs_main, #plshld_main{
    background-color: var(--main-yellow);
}

#atrium_main{
    background-color: var(--main-pink);
}